<!DOCTYPE html>
<html>
<head>
  <title>Da Unbox Massive</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
</head>
<body>

  <div class="ubxd-player">
    <audio>
      <p>Sorry, but your browser does not support the audio element currently. We suggest you try using Chrome or Safari.</p>
      <source src="audio/azelia_banks-212.mp3" type="audio/mp3">
    </audio>
  </div>

  <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="javascripts/players.js"></script>
  <script type="text/javascript" src="javascripts/audio_player.js"></script>

</body>
</html>
